/* Overall container for the tooltip */
#tooltipContainer{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 14px;
    opacity: .90;
}
.plot{
fill: #fff;
}
.axis path,
.axis line {
  fill: none;
	stroke: #AFBABF;
	shape-rendering: crispEdges;
	}
.axis text {
	font-family:  SourceSansPro-Bold;
	font-size: 14px;
	fill: #AFBABF;
	}

.x.axis path {
  display: none;
}
.y.axis path{
  display: none;
  }

.line {
  fill: none;
  stroke: steelblue;
  stroke-linejoin: round;
  stroke-linecap:round;
}

.tick line{
    opacity: 0.3;
    stroke-dasharray: 5 5;
}
.legend {
	margin-bottom:0px;
	fill: #231F20;
	}
.legend-off {
	margin-bottom:0px;
	fill: #231F20;
	}
.legend-select {
	margin-bottom:0px;
	fill: #231F20;
	}
